# Extracci贸n

In [3]:
# Import principal and necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set the style for seaborn and matplotlib
sns.set(style="whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

# Show all columns in DataFrame output
pd.set_option('display.max_columns', None)

In [5]:
import os

# Cargar el JSON con la ruta relativa
ruta_json = os.path.join('..', 'data', 'TelecomX_Data.json')
df = pd.read_json(ruta_json)

# Mostrar las primeras filas
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [6]:
# Tama帽o del DataFrame
print("Filas, Columnas:", df.shape)

# Informaci贸n general
df.info()

# Tipos de datos
df.dtypes

Filas, Columnas: (7267, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

In [7]:
# Mostrar ejemplos de columnas espec铆ficas
print("columna 'internet':\n", df["internet"].iloc[0], "\n")
print("columna 'account':\n", df["account"].iloc[0], "\n")

columna 'internet':
 {'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}

columna 'account':
 {'Contract': 'One year', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}

In [8]:
# Desanidar cada columna compleja
internet_df  = pd.json_normalize(df['internet'])
account_df   = pd.json_normalize(df['account'])
customer_df  = pd.json_normalize(df['customer'])
phone_df     = pd.json_normalize(df['phone'])

# Columnas clave que NO se desanidan
base_cols = df[['customerID', 'Churn']]

# Unimos todo en un solo DataFrame limpio
df_clean = pd.concat([base_cols,
                      customer_df,
                      phone_df,
                      internet_df,
                      account_df],
                     axis=1)

print("Shape limpio:", df_clean.shape)
df_clean.head()

Shape limpio: (7267, 21)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [9]:
# Distribuci贸n de la variable objetivo
print(df_clean['Churn'].value_counts(), "\n")

# Valores nulos por columna (top 10)
df_clean.isna().sum().sort_values(ascending=False).head(10)

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

customerID         0
Churn              0
gender             0
SeniorCitizen      0
Partner            0
Dependents         0
tenure             0
PhoneService       0
MultipleLines      0
InternetService    0
dtype: int64

In [10]:
# Guardar el DataFrame limpio como CSV
df_clean.to_csv("../data/TelecomX_clean.csv", index=False)

# Transformaci贸n

# Carga y an谩lisis

#Informe final